$darkGrey: #383f4a;
$lightGrey: #a5adb6;
$lightGrey2: #e4e6e9;
$lightGrey1: rgba(228, 230, 233, 0.5);
$primaryGrey:#4a4a4a;
$bcColor: #f8f8f8;
$borderColor: rgba(165, 173, 182, 0.3);
$blue: #4a90e2;
$blueOpacity: rgba(74, 144, 226, 0.1);
$green: #10AC38;
$yellow: #FFD644;
$orange: #ffa800;
$coralPink: #fe5b61;
$red: #ff3d46;
$darkRed: #a94442;
$white: #ffffff;
$disabledInputColor: #fdfdfd;

$borderRadius: 0.3125rem;

$boxShadow: 2px 3px 10px 2px #dce1e7;
$transparent: rgba(255, 255, 255, 0);
$borderSmallRadius: 0.3125rem;

$transition: .3s ease-in-out;
