
 // search
 .mat-form-field-infix .mat-icon {
   position: absolute!important;
}

 .search .mat-form-field-autofill-control {
   padding-left: rem(34px)!important;
 }

 .search .mat-form-field-label,
 .search .mat-form-field-hide-placeholder {
   padding-left: rem(34px)!important;
    }

 .fa-search {
  color: $lightGrey;
 }

// // mat-form-field
// .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//   padding-bottom: 0!important;
// }